<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">
    <h1 class="uk-heading-bullet uk-text-danger">LOGIN</h1>
    <p class="uk-text-lead">You must login to access {{.ApplicationName}}</p>
    <form>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Username" id="username" name="username" required/>
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="password" placeholder="Password" id="password" name="password" required/>
      </div>
      <div class="uk-margin uk-align-right">
        <button class="uk-button uk-button-primary" type="submit" id="login" href="/login/validate" formaction="/login/validate"  method="GET">LOGIN</button>
      </div>
    </form>
    <br>
    {{if .Message }}
    <div uk-alert>
      <h3><span class="uk-text-uppercase">{{.MessageType}}</span></h3>
      <p>{{.Message}}</p>
    </div>
    {{end}}
  </div>
  <br>
  <br>
  <!-- End your project here-->
</body>
<!-- Footer -->
</html>