<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading-bullet">{{.PageTitle}}</h1>
    <p class="uk-text-lead"><i class="bi bi-blockquote-left"></i>&nbsp;<span
        class="uk-text-muted">[{{.TextItem.ID}}] "{{.TextItem.Original}}"</span></p>
    <form class="uk-form-horizontal uk-margin-small">
      <div class="uk-margin">
        <label class="uk-form-label" for="ID">ID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ID" name="ID" type="text" placeholder="" value="{{.TextItem.ID}}"
            disabled>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="ID">Signature</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ID" name="ID" type="text" placeholder="" value="{{.TextItem.Signature}}"
            disabled>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="Original">Original</label>
        <div class="uk-form-controls">
          <textarea class="uk-input" id="Original" name="Original"type="text" placeholder="Origin Text" value="{{.TextItem.Original}}"
            disabled rows="5"  style="width:100%;height:100px;">{{.TextItem.Original}}</textarea>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="Message">Message</label>
        <div class="uk-form-controls">
          <textarea class="uk-input" id="Message" name="Message" type="text" placeholder="Message" value="{{.TextItem.Message}}" style="width:100%;height:100px;">{{.TextItem.Message}}</textarea>
        </div>
      </div>

      <ul uk-accordion="multiple: true">
        <li>
          <a class="uk-accordion-title" href>Localisation/Translation</a>
          <div class="uk-accordion-content">
            <table
              class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover">
              <thead>
                <tr>
                  <th>Locale</th>
                  <th>Text</th>
                </tr>
              </thead>
             <tbody>
                {{ range $key, $value := .TextItem.Localised }}
                <tr>
                  <td class="uk-text-bold" id="{{$key}}">{{$key}}</td>
                  <td><textarea class="uk-input" id="{{$key}}" name="{{$key}}" type="text" placeholder="Message in {{$key}} locale" value="{{$value}}" style="width:100%;height:100px;">{{$value}}</textarea></td>
                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>

      </ul>

      <ul uk-accordion="multiple: true">
        <li>
          <a class="uk-accordion-title" href>Audit</a>
          <div class="uk-accordion-content">

            <table
              class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover">
              <thead>
                <tr>
                  <th>ACTION</th>
                  <th>By</th>
                  <th>On</th>
                  <th>At</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                {{range .TextItem.Audit.Updates}}
                <tr>
                  <td class="uk-text-bold">{{.UpdateAction}}</td>
                  <td>{{.UpdatedBy}}</td>
                  <td>{{.UpdatedOn}}</td>
                  <td>{{.UpdatedAtDisplay}}</td>
                  <td>{{.UpdateNotes}}</td>

                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>

      </ul>

      <p uk-margin class="uk-align-right">
        <button type="submit" class="uk-button uk-button-default" formaction="/home"><i class="bi bi-x-circle"></i>&nbsp;Cancel</button>
        <button type="submit" class="uk-button uk-button-primary" formaction="/text/up/{{.TextItem.Signature}}"><i class="bi bi-floppy"></i>&nbsp;Submit</button>
      </p>

    </form>

  </div>
  <!-- End your project here-->
</body>
<!-- Footer -->

</html>