<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading"><i class="bi bi-blockquote-left"></i>&nbsp;{{.PageTitle}}</h1>

    <form class="uk-form-horizontal uk-margin-small">
      <table
      class="uk-table uk-table-small uk-table-divider  uk-table-justify  uk-table-responsive uk-table-hover">
      <thead>
        <tr>
          <th>Key</th>
          <th>Original</th>
          <th>Message</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range .TextList}}
        <tr>
          <td class="uk-text-bold"><a href="/text/vw/{{.Signature}}">{{.ID}}</a></td>
          <td>{{.Original}}</td>
          <td>{{.Message}}</td>
          <td>
            <a href="/text/vw/{{.Signature}}" class="uk-icon-button" uk-icon="eye"></a>
            <a href="/text/ed/{{.Signature}}" class="uk-icon-button" uk-icon="file-edit"></a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>






    </form>

  </div>
  <!-- End your project here-->
</body>
<!-- Footer -->

</html>